html,
body,
:global(#root) {
  height: 100%;
}

html {
  font-size: 1vw;
}

@media screen and (min-width: 1366px) {
  html {
    /* 控制1366-1920 fontsize在 14-18px */
    font-size: calc(87.5% + 4 * (100vw - 1366px) / 554);
    font-size: calc(14px + 4 * (100vw - 1366px) / 554);
  }
}
